<tr class="userTable">
    <td class="userTable"><a target='blank' href="/report/{{this.id}}">College Board Practice Test # {{this.PracticeTestId}}</a></td>
    <td class="userTable">Reading & Writing: {{this.readingScaled}} Math: {{this.mathScaled}}</td>
    <td class="userTable">{{this.createdAt}}</td>
</tr>
