<div class = "container">
  <!--scaled scores-->
  <div class = "row">
    <div class = "col-lg-6-offset-3 text-center">
      <i>Your Report</i>
    </div>
  </div>
  <div class = "row">
    <!--math scaled score out of 800-->
    <div class = "col-lg-6 scoreDivTop scoreDiv text-center" id="mathScaled">
      <p>Math</p>
      <p>{{scores.mathScaled}}</p>
    </div>
    <!-- reading scaled score out of 800 -->
    <div class = "col-lg-6 scoreDivTop scoreDiv text-center" id="readingScaled">
      <p>Reading</p>
      <p>{{scores.readingScaled}}</p>
    </div>
  </div>

  <!-- test scores -->
  <div class = "row">
    <!-- reading score out of 40 -->
    <div class = "col-lg-4 scoreDivBot scoreDiv text-center" id="readingTestScore">
      <p>Reading</p>
      <p>{{scores.readingTestScore}}</p>
      
      <!--reading progress bar-->
      <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow={{scores.readingTestScore}}
      aria-valuemin="0" aria-valuemax="40" style="width:0%">
      {{scores.readingTestScore}}/40
       </div>

    </div>
    <!-- writing score out of 40 -->
    <div class = "col-lg-4 scoreDivBot scoreDiv text-center" id="writingTestScore">
      <p>Writing</p>
      <p>{{scores.writingTestScore}}</p>
    </div>

    <!--writing progress bar-->
      <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow={{scores.writingTestScore}}
      aria-valuemin="0" aria-valuemax="40" style="width:0%">
      {{scores.writnigTestScore}}/40
       </div>

    <!-- math score out of 40 -->
    <div class = "col-lg-4 scoreDivBot scoreDiv text-center" id="mathTestScore">
      <p>Math</p>
      <p>{{scores.mathTestScore}}</p>
    </div>

    <!--reading progress bar-->
      <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow={{scores.mathTestScore}}
      aria-valuemin="0" aria-valuemax="40" style="width:0%">
      {{scores.mathTestScore}}/40
       </div>

  </div>
</div>

