<tr>
    <td class="question-number" >{{this.number}}</td>
    <td class="question-choices" data-selected=false data-ans=" " data-section ="{{this.section}}" data-number= {{this.number}} id ="{{this.section}}{{this.number}}">
        {{!-- <button class="ansbutton" data-selected=false id="{{this.section}}{{this.number}}"></button>
      --}}
      <form class="ansbutton">
          <br>
         <input type="text">
         <br>
      </form>
    </td>
</tr>