<tr>
    <td class="question-number" >{{this.number}}</td>
    <td class="question-choices" data-selected=false data-ans=" " data-section ="{{this.section}}" data-number= {{this.number}} id ="{{this.section}}{{this.number}}">
        <button class="ansbutton" data-selected=false id="{{this.section}}{{this.number}}A">A</button>
        <button class="ansbutton" data-selected=false id="{{this.section}}{{this.number}}B">B</button>
        <button class="ansbutton" data-selected=false  id="{{this.section}}{{this.number}}C">C</button>
        <button class="ansbutton" data-selected=false id="{{this.section}}{{this.number}}D">D</button>
    </td>
</tr>