<tr>
    <td class="question-number">{{this.number}}</td>
    <td class="question-choices" data-ans=" " data-section ="{{this.section}}" data-number= {{this.number}} id="{{this.section}}{{this.number}}">
      <select id="{{this.section}}{{this.number}}dropdown1" class="gridin-dropdown">

        <option value=" " selected=""></option>

        <option value=".">.</option>

        <option value="0">0</option>

        <option value="1">1</option>

        <option value="2">2</option>

        <option value="3">3</option>

        <option value="4">4</option>

        <option value="5">5</option>

        <option value="6">6</option>

        <option value="7">7</option>

        <option value="8">8</option>

        <option value="9">9</option>

      </select>
      <select id="{{this.section}}{{this.number}}dropdown2" class="gridin-dropdown">

        <option value=" " selected=""></option>

        <option value="/">/</option>

        <option value=".">.</option>

        <option value="0">0</option>

        <option value="1">1</option>

        <option value="2">2</option>

        <option value="3">3</option>

        <option value="4">4</option>

        <option value="5">5</option>

        <option value="6">6</option>

        <option value="7">7</option>

        <option value="8">8</option>

        <option value="9">9</option>

      </select>
      <select id="{{this.section}}{{this.number}}dropdown3" class="gridin-dropdown">

        <option value=" " selected=""></option>

        <option value="/">/</option>

        <option value=".">.</option>
        
        <option value="0">0</option>

        <option value="1">1</option>

        <option value="2">2</option>

        <option value="3">3</option>

        <option value="4">4</option>

        <option value="5">5</option>

        <option value="6">6</option>

        <option value="7">7</option>

        <option value="8">8</option>

        <option value="9">9</option>

      </select>
             
      <select id="{{this.section}}{{this.number}}dropdown4" class="gridin-dropdown">

        <option value=" " selected=""></option>

        <option value="/">/</option>

        <option value=".">.</option>
        
        <option value="0">0</option>

        <option value="1">1</option>

        <option value="2">2</option>

        <option value="3">3</option>

        <option value="4">4</option>

        <option value="5">5</option>

        <option value="6">6</option>

        <option value="7">7</option>

        <option value="8">8</option>

        <option value="9">9</option>

      </select>

    </td>
    